<%- include ("../../_partials/_header.ejs"); %>
<style>
@media(min-width:568px) {
	.end {
		margin-left: auto
	}
}

@media(max-width:768px) {
	#post {
		width: 100%
	}
}

#clicked {
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
	width: 100%;
	background-color: darkgreen;
	border-color: darkgreen;
	color: black;
	border-width: 1px;
	border-style: solid;
	border-radius: 13px
}

#profile {
	background-color: whitesmoke
}

#post {
	margin: 10px;
	padding: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	background-color: darkgreen;
	border-color:darkgreen;
	color: black;
	border-width: 1px;
	border-style: solid;
	border-radius: 13px;
	width: 50%
}

body {
	background-color: white
}

#nav-items li a,
#profile {
	text-decoration: none;
	color: black;
	background-color: black
}

.comments {
	margin-top: 5%;
	margin-left: 20px
}

.darker {
	border: 1px solid black;
	background-color: white;
	float: right;
	border-radius: 5px;
	padding-left: 40px;
	padding-right: 30px;
	padding-top: 10px
}

.comment {
	border: 1px solid whitesmoke;
	background-color: whitesmoke;
	float: left;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	overflow-wrap:break-word;
}

.comment h4,
.comment span,
.darker h4,
.darker span {
	display: inline
}

.comment p,
.comment span,
.darker p,
.darker span {
	color: black
}

h1,
h4 {
	color: black;
	font-weight: bold
}

label {
	color: black
}

#align-form {
	margin-top: 20px
}

.form-group p a {
	color: black
}

#checkbx {
	background-color: white
}

#darker img {
	margin-right: 15px;
	position: static
}

.form-group input,
.form-group textarea {
	background-color: darkgreen;
	border: 1px solid darkgreen;
	border-radius: 12px
}

form {
	border: 1px solid black;
	background-color: whitesmoke;
	border-radius: 5px;
	padding: 20px
}</style>
<div class="topPic4">
	<%- include ("../../_partials/_top_nav.ejs"); %>
</div>
<div class="welcomeText">National High School Climate Forum Committee Member Dashboard</div>
</div>
<div class="container">
	<div class="container">
	    <div style="background-color: whitesmoke; min-height:100px; border-radius:25px; border-color: darkgreen; padding:10px; margin:10px">
        <h1 style="color:darkgreen; font-size:36px; font-family: Trebuchet Ms">The National High School Climate Forum Sustainability Competition</h1>
        <p style="font-family: Trebuchet Ms">This year, the National High School Climate Forum will be hosting a yearlong sustainability competition in order to find out which of our member schools is the most sustainable! Prizes will be awarded to our winning school at the 2022 National High School Climate Forum Youth Climate Summit!</p>
        <p style="font-family: Trebuchet Ms"><b>Download the 2022 NHSCF Sustainability Competition Workbook here:</b></p>
        <a href="/public/NHSCF_Sustainability_Competition_Info.pdf" target="_blank">
        <button style="background-color: darkgreen; color: white; border-radius: 5px; min-height:30px; min-width: 50px; border-color: black; font-style: bold; font-family: Trebuchet Ms; padding: 10px; font-size: 18px" href="/public/NHSCF_Sustainability_Competition_Info.pdf" target="_blank">Download Competition Booklet PDF</button>
        </a>
        </div>
		<p style="font-size: 16px; text-align: left; font: italic; color: black">
			<b><i>Use the panel below to navigate between subcommittee information and the announcements blog. 
			Please check the announcements panel and your subcommittee panel regularly. Thanks!</i></b></p>
		<ul class="nav nav-tabs CMToggleButtons">
			<li class="active">
				<a class="CMToggleButtons" data-toggle="tab"
				href="#chat">Chat</a>
			</li>
			<li>
				<a class="CMToggleButtons" data-toggle="tab"
				href="#writing">Writing</a>
			</li>
			<li>
				<a class="CMToggleButtons" data-toggle="tab"
				href="#recruitment">Recruitment</a>
			</li>
			<li><a class="CMToggleButtons" data-toggle="tab"
				href="#planning">Planning</a>
			</li>
			<%if(currentUser.admin == true){%>
				<li><a class="CMToggleButtons" data-toggle="tab"
					href="#adminpanel">Admin Panel</a>
				</li>
			<%}%>
		</ul>

		<div class="tab-content">
			<div id="chat" class=
				"tab-pane fade in active">
				<!-- Main Body -->
				<section>
					<div class="container">
						<div class="row">
							<div class="col-sm-5 col-md-6 col-12 pb-4" style="min-height: 1100px">
								<h1 style="color: black">Announcements</h1>
								<% activePosts.forEach(function(post){%>
									<div class="comment float-left" style="width: 100%; border-color: darkgreen; border-width: 2px"> 
										<h4><%=post.title%></h4> 
										<h5><%=post.createdAt%></h5>
										<br/>
										<p><%- post.content%></p>
									</div>
								
									<%comments.forEach(function(comment){%>
										<% if(post.title == comment.announcement){%>
											<div style="padding: 5px; width: 90%; background-color: rgb(253, 253, 253); float:right; border-color: darkgreen; border-radius: 5px; border-style: solid; border-width: 1px; overflow-wrap:break-word">
											<h5 style="font-size: 14px; color: black;"><%=comment.user%> : <%=comment.title%></h5>
											<h5 style="font-size: 14px; color: black; padding-bottom: 5px;"><%=comment.createdAt%></h5>
											
											<p><%- comment.content%></p>
											</div>
										<%}%>
									<%})%>
									
								<%})%>
							</div>
							<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
								<form method="POST" action="/changeComm">
									<div class="form-group">
										<h4>Committee Info</h4><label>Your Current Committee Assignment:</label>
										<%if(currentUser.committee == "rec"){%><label>Recruitment</label><%}%>
										<%if(currentUser.committee == "write"){%><label>Writing</label><%}%>
										<%if(currentUser.committee == "plan"){%><label>Planning</label><%}%>
										<%if(currentUser.committee == "none"){%><label>No Assigment</label><%}%>
									</div>
									<div class="form-group">
			
										<label>Pick New Committee Assignment:</label>
										<select class="mdb-select md-form" searchable="Search here.." id="example-select" name="newComm">
											<option name="recruitment" value="rec">Recruitment</option>
											<option name="writing" value="write">Writing</option>
											<option name="planning" value="plan">Planning</option>
											<option name="none" value="none">No Committee</option>
										</select>
									</div>
									<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Change Committee" /></div>
								</form>
							</div>
							<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4" style="margin-top: 15px;">
								<form method="POST" action="/addPost">
									<div class="form-group">
										<h4>Add Post</h4><label>Post Title</label><input style="color:black; background-color: white;" type="text" class="form-control" placeholder="Post Title" name="title" aria-describedby="basic-addon1">
									</div>
									<div class="form-group">
			
										<label>Post Content</label> <textarea class="form-control" style="color:black; background-color: white;" name="content" aria-describedby="basic-addon1"></textarea>
									</div>
									<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Make Announcement" /></div>
								</form>
							</div>
							<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4" style="margin-top: 15px;">
								<form method="POST" action="/addComment">
									<div class="form-group">
										<h4>Comment</h4><label>Comment Title</label> <input class="form-control" style="color:black; background-color: white;" name="commTitle" aria-describedby="basic-addon1"/>
									</div>
									<div class="form-group">
										<label>Message:</label> <textarea class="form-control" style="color:black; background-color: white;" name="commCon" aria-describedby="basic-addon1"></textarea>
									</div>
									<div class="form-group"> 
										<label>Announcement Name To Comment On:</label>
										<select class="mdb-select md-form" searchable="Search here.." id="example-select" name="compost">
											<option value="" disabled selected>Post To Comment On</option>
											<% activePosts.forEach(function(post){%>
												<option value="<%=post.title%>"><%=post.title%></option>
											<%})%>
										</select>
									</div>
									<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Add Comment" /></div>
								</form>
							</div>
							<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4" style="margin-top: 15px;">
								<form method="POST" action="/deleteComment">
									<div class="form-group">
										<h4>Delete Your Comments</h4><label>Pick Comment to Delete</label><br><select class="mdb-select md-form" searchable="Search here.." id="example-select" name="delcomms">
											<option value="" disabled selected>Choose Comment to Delete</option>
											<% comments.forEach(function(comment){%>
												<% if(comment.user == (currentUser.fname + " " + currentUser.lname)){%>
												<option value="<%=comment.title%>"><%=comment.title%></option>
												<%}%>
											<%})%>
										</select>
									</div>
									<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Delete Comment" /></div>
								</form>
							</div>
							</div>
					</div>
				</section>
			</div>
			<div id="writing" class="tab-pane fade">
				<section>
					<div class="container">
						<div class="row">
							<div class="col-sm-5 col-md-6 col-12 pb-4" style="min-height: 2800px">
								<h1 style="color: black">Writing Committee Tasks</h1>
								<% writeTasks.forEach(function(writeTask) {%>
									<div class="comment float-left" style="width: 100%; border-color: darkgreen; border-width: 2px"> 
										<h4><%= writeTask.title %></h4> 
										<h5>Task Due Date: <%= writeTask.dueDate%></h5>
										<br/>
										<p><%- writeTask.description%></p>
										<br/>
										<h5><b>Signed Up:</b></h5><%for(var i = 0; i < writeTask.signedUp.length; i++) {%>
											<p><%=writeTask.signedUp[i]%></p>
											<%}%>
											<%if(writeTask.forEveryone){%>
												<p>Everyone</p>
											<%}%>
									</div>									
								<%})%>
							</div>
							<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
								<form method="POST" action="/taskSignup">
									<div class="form-group"> 
										<h4>Task Sign Up</h4><label>Sign Up For a Task:</label>
										<select class="mdb-select md-form" searchable="Search here.." id="example-select" name="task">
											<option value="" disabled selected>Writing Tasks</option>
											<% writeTasks.forEach(function(writeTask) {%>
												<%if(!writeTask.forEveryone){%>
												<option value="<%=writeTask.title%>"><%=writeTask.title%></option>
												<%}%>
											<%})%>
										</select>
									</div>
									<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Sign Up" /></div>
								</form>
							</div>
							<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4" style="margin-top: 15px;">
								<form method="POST" action="/submitActivityWriting" enctype="multipart/form-data">
									<div class="form-group"> 
										<h4>Activity Writings</h4><label>Author Full Name</label>
											<input style="background-color: white" type="text" class="form-control" placeholder="Author Full Name" name="authorName" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"> 
										<label>Author School</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Author School Name" name="authorSchool" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"> 
										<label>Author Graduation Year</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Please enter your gradutation year" name="authorGradYear" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"> 
										<label>Date of Article Submission</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Please enter this article's submission date" name="dateSubmitted" aria-describedby="basic-addon1">
									</div>
									<div class="form-group">
										<label>Article Full Text (300-400 words; we recommend typing your entry in an external document before copy and pasting it here)</label> <textarea class="form-control" style="color:black; background-color: white;" name="fullText" aria-describedby="basic-addon1"></textarea>
									</div>
									<div class="form-group">
										<label for="image">Upload Image</label>
										<input class="form-control" style="color:black; background-color: white;" type="file" id="activityWritingImage"
											name="activityWritingImage" value="" required>
									</div>								
									
									<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Submit Activity Writing" /></div>
								</form>
							</div>
							<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4" style="margin-top: 15px;">
								<form method="POST" action="/submitSusTip" enctype="multipart/form-data">
									<div class="form-group"> 
										<h4>Sustainability Tips</h4><label>Sustainability Tip Title</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Please enter your tip's title" name="susTipTitle" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"> 
										<label>Sustainability Tip Source URL</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Please enter the link to your source" name="susTipLink" aria-describedby="basic-addon1">
									</div>
									<div class="form-group">
										<label>Full Sustainability Tip Text (50-75 words; we recommend typing your entry in an external document before copy and pasting it here)</label> <textarea class="form-control" style="color:black; background-color: white;" name="susTipFullText" aria-describedby="basic-addon1"></textarea>
									</div>
									<div class="form-group">
										<label for="image">Upload Image</label>
										<input class="form-control" style="color:black; background-color: white;" type="file" id="susTipImage"
										name="susTipImage" value="" required>
									</div>								
									
									<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Submit Tip" /></div>
								</form>
							</div>
							<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4" style="margin-top: 15px;">
								<form method="POST" action="/submitOutsideProgram" enctype="multipart/form-data">
									<div class="form-group"> 
										<h4>Outside Programs</h4><label>Program Name</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Please enter the name of the program" name="programName" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"> 
										<label>Program Host Organization</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Please enter the program's host organization" name="programHost" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"> 
										<label>Program Location</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Please enter the location of the program" name="programLocation" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"> 
										<label>Program Dates or Timeframe</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Please enter the timeframe of the program" name="programDates" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"> 
										<label>Program URL</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Please enter the link to the program's website" name="programLink" aria-describedby="basic-addon1">
									</div>
									<div class="form-group">
										<label>Outside Program Description (50-75 words; we recommend typing your entry in an external document before copy and pasting it here)</label> <textarea class="form-control" style="color:black; background-color: white;" name="programDesc" aria-describedby="basic-addon1"></textarea>
									</div>
									<div class="form-group">
										<label for="image">Upload Image</label>
										<input class="form-control" style="color:black; background-color: white;" type="file" id="programImage"
										name="programImage" value="" required>
									</div>								
									
									<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Submit Outside Program" /></div>
				
								</form>
							</div>
							<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4" style="margin-top: 15px;">
								<form method="POST" action="/submitOtherArticle">
									<div class="form-group"> 
										<h4>Additional Articles</h4><label>Author Full Name</label>
											<input style="background-color: white" type="text" class="form-control" placeholder="Author Full Name" name="authorName" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"> 
										<label>Author School</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Author School Name" name="authorSchool" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"> 
										<label>Author Graduation Year</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Please enter your gradutation year" name="authorGradYear" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"> 
										<label>Date of Article Submission</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Please enter this article's submission date" name="dateSubmitted" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"> 
										<label>Article Title</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Please enter your article's title"
										name="articleTitle" aria-describedby="basic-addon1">
									</div>
									<div class="form-group">
										<label>Article Full Text (300-400 words; we recommend typing your entry in an external document before copy and pasting it here)</label> <textarea class="form-control" style="color:black; background-color: white;" name="articleFullText" aria-describedby="basic-addon1"></textarea>
									</div>
																
									
									<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Submit Other Article" /></div>
								</form>
							</div>
							<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4" style="margin-top: 15px;">
								<form method="POST" action="/submitInterestingLink">
									<div class="form-group"> 
										<h4>Interesting Links</h4><label>Interesting Link Title</label>
											<input style="background-color: white" type="text" class="form-control" placeholder="Please enter your link's title"
											name="linkTitle" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"> 
										<label>Link URL</label>
											<input style="background-color: white" type="text" class="form-control" placeholder="Please enter your link URL"
											name="linkURL" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Submit Interesting Link" /></div>
								</form>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div id="recruitment" class="tab-pane fade">
				<section>
					<div class="container">
						<div class="row">
							<div class="col-sm-5 col-md-6 col-12 pb-4" style="min-height: 600px">
								<h1 style="color: black">Recruiting Committee Tasks</h1>
								<% recruitTasks.forEach(function(recTask) {%>
									<div class="comment float-left" style="width: 100%; border-color: darkgreen; border-width: 2px;"> 
										<h4><%= recTask.title %></h4> 
										<h5>Task Due Date: <%= recTask.dueDate%></h5>
										<br/>
										<p><%- recTask.description%></p>
										<br/>
										<h5><b>Signed Up:</b></h5><%for(var i = 0; i < recTask.signedUp.length; i++) {%>
											<p><%=recTask.signedUp[i]%></p>
											<%}%>
											<%if(recTask.forEveryone){%>
												<p>Everyone</p>
											<%}%>
									</div>									
								<%})%>
							</div>
							<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
								<form method="POST" action="/taskSignup">
									<div class="form-group"> 
										<h4>Task Sign Up</h4><label>Sign Up For a Task:</label>
										<select class="mdb-select md-form" searchable="Search here.." id="example-select" name="task">
											<option value="" disabled selected>Recruiting Tasks</option>
											<% recruitTasks.forEach(function(recTask) {%>
												<%if(!recTask.forEveryone){%>
												<option value="<%=recTask.title%>"><%=recTask.title%></option>
												<%}%>
											<%})%>
										</select>
									</div>
									<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Sign Up" /></div>
									<a href="https://docs.google.com/document/d/1EYjsOF0G6OAxoMke9CvzL3YapFtdsgO7pmYZlIFXjhM/edit?usp=sharing" target="_blank" rel="noopener noreferrer">View The Recruitment Guide</a>
									<p>  </p>
									<p>  </p>
									<p>   </p>
									<p>Please follow the link below to add contact information for our current recruiting session. Please be sure to select the correct sheet in the bottom menu:</p>
									<a href="https://docs.google.com/spreadsheets/d/1NgEk0OesSoxtVwJBd1PR5p6RHkAptsL8ptmEtae7bYQ/edit?usp=sharing" target="_blank">Add to our Recruiting List</a>
									<p></p>
								</form>
							</div>
						
						<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4" style="margin-top: 15px;">
							<form method="POST" action="/emailForm">
								<div class="form-group"> 
									<h4>Recruitment Email Form Tool</h4><p>This tool will automatically send the recruitment template email from you (signed in as a committee member) to the individual specified in your input.</p><label>Recipient Email Address</label>
									<input style="background-color: white" type="text" class="form-control" placeholder="Email Address" name="emailAddr" aria-describedby="basic-addon1">
								</div>
								<div class="form-group">
									<label>Recipient Full Name (with Ms./Mr.)</label>
									<input style="background-color: white" type="text" class="form-control" placeholder="Recipient Full Name (with Ms./Mr.)" name="recipient" aria-describedby="basic-addon1">
								</div>
								<div class="form-group">
									<label>Recipient School Name</label>
									<input style="background-color: white" type="text" class="form-control" placeholder="Recipient School Name" name="schoolName" aria-describedby="basic-addon1">
								</div>
								<div class="form-group">
									<label>Recipient Position</label>
									<input style="background-color: white" type="text" class="form-control" placeholder="Recipient Position" name="position" aria-describedby="basic-addon1">
								</div>
								<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Send" /></div>							
							</form>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4" style="margin-top: 15px;">
							<form action="/csvUpload" method="POST" enctype="multipart/form-data">								
								<div class="form-group"> 
									<h4>Recruitment Email Form Tool</h4><p>Use this tool for automated recruiting of large numbers of schools. The CSV columns must be ordered as follows (all info pertains to email recipient): Email Address, Full Name, School Name, Position</p><label>Upload CSV File</label>
									<input class="form-control" style="background-color: white" type="file" id="csvFile"
										name="csvFile" value="" required multiple>
								</div>
					
								<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Upload and Send Emails" /></div>							
							</form>
						</div>
					</div>
					</div>
				</section>
			</div>
			<div id="planning" class="tab-pane fade">
				<section>
					<div class="container">
						<div class="row">
							<div class="col-sm-5 col-md-6 col-12 pb-4" style="min-height: 600px">
								<h1 style="color: black">Planning Committee Tasks</h1>
								<% planTasks.forEach(function(planTask) {%>
									<div class="comment float-left" style="width: 100%; border-color: darkgreen; border-width: 2px"> 
										<h4><%= planTask.title %></h4> 
										<h5><b>Task Due Date: </b><%= planTask.dueDate%></h5>
										<br/>
										<p><%- planTask.description%></p>
										<br/>
										<h5><b>Signed Up:</b></h5><%for(var i = 0; i < planTask.signedUp.length; i++) {%>
											<p><%=planTask.signedUp[i]%></p>
											<%}%>
											<%if(planTask.forEveryone){%>
												<p>Everyone</p>
											<%}%>
									</div>									
								<%})%>
							</div>
							<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
								<form method="POST" action="/taskSignup">
									<div class="form-group"> 
										<h4>Task Sign Up</h4><label>Sign Up For a Task:</label>
										<select class="mdb-select md-form" searchable="Search here.." id="example-select" name="task">
											<option value="" disabled selected>Planning Tasks</option>
											<% planTasks.forEach(function(planTask) {%>
												<%if(!planTask.forEveryone){%>
												<option value="<%=planTask.title%>"><%=planTask.title%></option>
												<%}%>
											<%})%>
										</select>
									</div>
									<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Sign Up" /></div>
								</form>
							</div>
							<div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4" style="margin-top: 15px;">
								<form method="POST" action="/submitSchoolEvent">
									<div class="form-group"> 
										<h4>School Events Submission</h4><label>Event Host School Name</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="School Name"
										name="schoolName" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"> 
										<label>Date of School Event</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Please enter the date of the event"
										name="schoolEventDate" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"> 
										<label>School Event Time Zone</label>
										<select class="mdb-select md-form" searchable="Search here.." id="example-select" name="schoolEventTimeZone">
											<option name="ET" value="ET">ET</option>
											<option name="PT" value="PT">PT</option>
											<option name="CT" value="CT">CT</option>
											<option name="MT" value="MT">MT</option>
										</select>
									</div>
									<div class="form-group"> 
										<label>School Event AM/PM</label>
										<select class="mdb-select md-form" searchable="Search here.." id="example-select" name="schoolEventAmPm">
											<option name="AM" value="AM">AM</option>
										<option name="PM" value="PM">PM</option>
										</select>
									</div>
									<div class="form-group"> 
										<label>Time of School Event</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Please enter the time zone for the event"
										name="schoolEventTime" aria-describedby="basic-addon1">
									</div>
									<div class="form-group"> 
										<label>Name of School Event</label>
										<input style="background-color: white" type="text" class="form-control" placeholder="Please enter the name of the event"
										name="schoolEventName" aria-describedby="basic-addon1">
									</div>
									<div class="form-group">
										<label>School Event Description</label> <textarea class="form-control" style="color:black; background-color: white;" name="schoolEventDesc" aria-describedby="basic-addon1"></textarea>
									</div>
									<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Submit School Event" /></div>
								</form>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div id="adminpanel" class="tab-pane fade">
				<div class="container">
				<div class = "row">
				<div class="col">
					<br>
					<h2>Chat Control Panel</h2>
					<br>
				<div>
					<form method="POST" action="/addPost" enctype="multipart/form-data">
						<div class="form-group">
							<h4>Add Post</h4><label>Post Title</label><input style="color:black; background-color: white;" type="text" class="form-control" placeholder="Post Title" name="title" aria-describedby="basic-addon1">
						</div>
						<div class="form-group">

							<label>Post Content</label> <textarea class="form-control" style="color:black; background-color: white;" name="content" aria-describedby="basic-addon1"></textarea>
						</div>

						<div class="form-group">
							<label for="image">Upload File Attachment</label>
							<input type="file" id="file"
								name="fileAttachment" value="" style="background-color: white">
						</div>

						<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Make Announcement" /></div>
					</form>
				</div>
				<div style="margin-top:15px">
					<form method="POST" action="/deletePost">
						<div class="form-group">
							<h4>Delete Post</h4><label>Pick Post to Delete</label><br><select class="mdb-select md-form" searchable="Search here.." id="example-select" name="delposts">
								<option value="" disabled selected>Choose Post to Delete</option>
								<% activePosts.forEach(function(post){%>
									<option value="<%=post.title%>"><%=post.title%></option>
								<%})%>
							</select>
						</div>
						<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Delete Post" /></div>
					</form>
				</div>
				<div style="margin-top:15px">
					<form method="POST" action="/deleteComment">
						<div class="form-group">
							<h4>Delete Comment</h4><label>Pick Comment to Delete</label><br><select class="mdb-select md-form" searchable="Search here.." id="example-select" name="delcomms">
								<option value="" disabled selected>Choose Comment to Delete</option>
								<% comments.forEach(function(comment){%>
									<option value="<%=comment.title%>"><%=comment.title%></option>
								<%})%>
							</select>
						</div>
						<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Delete Comment" /></div>
					</form>
				</div>
				</div>
				
				<div class="col">
					<br>
						<h2>Task Control Panel</h2>
					<br>
					<div>
						<form method="POST" action="/createTask">
							<div class="form-group">
								<h4>Create Task</h4><label>Task Title</label><input style="color:black; background-color: white;" type="text" class="form-control" placeholder="Task Title" name="title" aria-describedby="basic-addon1">
							</div>
							<div class="form-group">
								<label>Task Description</label><textarea style="color:black; background-color: white;" type="text" class="form-control" placeholder="Task Description" name="description" aria-describedby="basic-addon1"></textarea>
							</div>
							<div class="form-group">
								<label>Committee Assignment</label><br><select name="commAssign" placeholder="Committee Assignment">
									<option name="recruitment" value="rec">Recruitment</option>
									<option name="writing" value="write">Writing</option>
									<option name="planning" value="plan">Planning</option>
								</select>
							</div>
							<div class="form-group">
								<label>Assign Everyone In Committee?</label><br><select name="everyone" placeholder="Assign Everyone?">
									<option name="false" value="false">No</option>
									<option name="true" value="true">Yes</option>
								</select>
							</div>
							
							<div class="form-group">
								<label>Task Due Date</label><input style="color:black; background-color: white;" type="text" class="form-control" placeholder="Task Due Date" name="dueDate" aria-describedby="basic-addon1">
							</div>
							<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Create Task" /></div>
						</form>
					</div>
					<div style="margin-top:15px">
						<form method="POST" action="/deleteTask">
							<div class="form-group">
								<h4>Delete Task</h4><label>Pick Task to Delete</label><br><select class="mdb-select md-form" searchable="Search here.." id="example-select" name="deltasks">
									<option value="" disabled selected>Choose Task to Set Inactive</option>
									<% activeTasks.forEach(function(task){%>
										<option value="<%=task.title%>"><%=task.title%></option>
									<%})%>
								</select>
							</div>
							<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Delete Task" /></div>
						</form>
					</div>
					<div style="margin-top:15px">
						<form method="POST" action="/taskReminder">
							<div class="form-group">
								<h4>Send Task Reminder</h4><label>Pick Task to Send Reminder For</label><br><select class="mdb-select md-form" searchable="Search here.." id="example-select" name="remtasks">
									<option value="" disabled selected>Choose Task to Send Reminder For</option>
									<% activeTasks.forEach(function(task){%>
										<option value="<%=task.title%>"><%=task.title%></option>
									<%})%>
								</select>
							</div>
							<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Send Reminder" /></div>
						</form>
					</div>
				</div>
				<div class="col">
					<br>
					<h2>Event Control Panel</h2>
					<br>
					<div>
						<form method="POST" action="/eventCreate" enctype="multipart/form-data">
							<div class="form-group">
								<h4>Create Event</h4>
								<label for="name">Event Name</label><br>
								<input class="form-control" style="color:black; background-color: white;" type="text" id="eventName" placeholder="Event Name"
									value="" name="eventName" required>
							</div>
							<div class="form-group">
								<label for="desc">Event Description</label><br>
								<textarea class="form-control" style="color:black; background-color: white;" id="eventDesc" name="eventDesc" value="" rows="2"
										placeholder="Event Description" required>
								</textarea>
							</div>
							<div class="form-group">
								<label for="date">Event Date/Time</label><br>
								<input class="form-control" style="color:black; background-color: white;" id="eventDate" name="eventDate"
										placeholder="Event Date/Time" required>
							</div>
							<div class="form-group">
								<label for="numfields">Number of Event Fields</label><br>
							<input class="form-control" style="color:black; background-color: white;" type="number" id="numEventFields" name="numEventFields" value="" rows="2"
									placeholder="Number of Event Fields" required>
							</div>
							<div class="form-group">
								<label for="fields">Event Fields</label><br>
								<textarea class="form-control" style="color:black; background-color: white;" id="eventFields" name="eventFields" value="" rows="2"
										placeholder="Event Fields" required>
								</textarea>							
							</div>
							<div class="form-group">
								<label>Is the event public?</label><br><select name="isPublic" placeholder="Yes or No">
									<option name="false" value="false">No</option>
									<option name="true" value="true">Yes</option>
								</select>
							</div>
							<div class="form-group">
								<label for="image">Upload Image</label>
								<input class="form-control" style="color:black; background-color: white;" type="file" id="image"
									name="image" value="" required>
							</div>
							<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Create Event" /></div>
						</form>
					</div>
					<div style="margin-top:15px">
						<form method="POST" action="/stopEventRegister">
							<div class="form-group">
								<h4>Stop Event Registration</h4><label>Pick Event to Make Not Open For Registration</label><br><select class="mdb-select md-form" searchable="Search here.." id="example-select" name="stopev">
									<option value="" disabled selected>Event</option>
									<% activeEvents.forEach(function(event){%>
										<option value="<%=event.eventName%>"><%=event.eventName%></option>
									<%})%>
								</select>
							</div>
							<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Stop Registration" /></div>
						</form>
					</div>
					<div style="margin-top:15px">
						<form method="POST" action="/delEvent">
							<div class="form-group">
								<h4>Delete Event</h4><label>Pick Event to Delete</label><br><select class="mdb-select md-form" searchable="Search here.." id="example-select" name="delev">
									<option value="" disabled selected>Event</option>
									<% activeEvents.forEach(function(event){%>
										<option value="<%=event.eventName%>"><%=event.eventName%></option>
									<%})%>
								</select>
							</div>
							<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Delete Event" /></div>
						</form>
					</div>
					<div style="margin-top:15px">
						<form method="POST" action="/addSpeaker" enctype="multipart/form-data">
							<div class="form-group">
								<h4>Add Speaker</h4><label>Pick Event to Add Speaker To</label><br><select class="mdb-select md-form" searchable="Search here.." id="example-select" name="addspeakev">
									<option value="" disabled selected>Event Name</option>
									<% activeEvents.forEach(function(event){%>
										<option value="<%=event.eventName%>"><%=event.eventName%></option>
									<%})%>
								</select>
							</div>
							<div class="form-group">
								<label>Speaker Name</label><br>
								<input class="form-control" style="color:black; background-color: white;" type="text" name="speakerName" placeholder="Speaker Name" required>
							</div>
							<div class="form-group">
								<label>Speaker Position</label><br>
								<input class="form-control" style="color:black; background-color: white;" type="text" name="speakerPos" placeholder="Speaker Position" required>
							</div>
							<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Add Speaker"/></div>
						</form>
					</div>
					<div style="margin-top:15px">
						<form method="GET" action="/buildFlyer">
							<div class="form-group">
								<h4>Create Event Flyer</h4><label>Pick Event to Create Flyer For</label><br><select class="mdb-select md-form" searchable="Search here.." id="example-select" name="flyEvent">
									<option value="" disabled selected>Event</option>
									<% activeEvents.forEach(function(event){%>
										<option value="<%=event.eventName%>"><%=event.eventName%></option>
									<%})%>
								</select>
							</div>
							<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Create Flyer" /></div>
						</form>
					</div>
				</div>
				<div class="col">
					<br>
					<h2>Miscellaneous Control Panel</h2>
					<br>
					<div class="form-group"><a href="/createNewsletter1" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white">Create Newsletter</a></div>
					<form method="GET" action="/downloadSignedUpEmails">
						<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Download Roster" /></div>
					</form>
					<div style="background-color: whitesmoke; margin: 16px; padding: 16px">
    <form action="/uploadNewsletter" method="POST" enctype="multipart/form-data">
        <h4>Upload a Newsletter</h4>
        <div>
            <label for="month">Month of the Newsletter</label>
            <input type="text" id="newsletterMonth" placeholder="Month"
                value="" name="newsletterMonth" required>
        </div>
        <div>
            <label for="year">Year of the Newsletter</label>
            <input type="text" id="newsletterYear" placeholder="Year"
                value="" name="newsletterYear" required>
        </div>
        <div>
            <label for="releaseDate">Release Date of the Newsletter</label>
            <input type="text" id="releaseDate" placeholder="Release Date"
                value="" name="releaseDate" required>
        </div>

        <div>
            <label for="files">Upload Newsletter PDF</label>
            <input type="file" id="newsletter"
                name="newsletter" value="" required multiple>
        </div>

        <div>
            <label for="files">Upload Newsletter Cover Image</label>
            <input type="file" id="image"
                name="image" value="" required multiple>
        </div>

        <div>
            <button type="submit">Upload Newsletter</button>
        </div>
    </form>
</div>
					
					
					<div style="margin-top:15px">
						<form method="POST" action="/sendIndEmails">
							<div class="form-group">
								<h4>Send Individualized Emails</h4><label>Subject</label><br>
								<input class="form-control" style="color:black; background-color: white;" type="text" name="subject" placeholder="Subject" required>
							</div>
							<div class="form-group">
								<label>Message</label><br><p>Please insert "cmmname" where you would like each member's name to go.</p> <textarea class="form-control" style="color:black; background-color: white;" name="message" aria-describedby="basic-addon1"></textarea>
							</div>
							<div class="form-group"><input type="submit" class="btn btn-default navbar-btn" style="background-color: darkgreen; color:white" value="Send Emails"/></div>
						</form>
					</div>
				</div>			
			</div>
		</div>
	</div>
</div>
</div>

<%- include ("../../_partials/_footer.ejs"); %>