<%- include ("../_partials/_header.ejs"); %>

	<h1>To Upload Image on mongoDB</h1>
	<hr>
	<div>
		<form action="/eventCreate" method="POST" enctype="multipart/form-data">
			<div>
				<label for="name">Event Title</label>
				<input type="text" id="eventName" placeholder="Event Name"
					value="" name="eventName" required>
			</div>
			<div>
				<label for="desc">Event Description</label>
				<textarea id="eventDesc" name="eventDesc" value="" rows="2"
						placeholder="Event Description" required>
				</textarea>
			</div>
            <div>
				<label for="date">Event Date</label>
				<textarea id="eventDate" name="eventDate" value="" rows="2"
						placeholder="Event Date" required>
				</textarea>
			</div>
            <div>
				<label for="numfields">Number of Event Fields</label>
				<input type="number" id="numEventFields" name="numEventFields" value="" rows="2"
						placeholder="Number of Event Fields" required>
                </input>
			</div>
            <div>
				<label for="fields">Event Fields</label>
				<textarea id="eventFields" name="eventFields" value="" rows="2"
						placeholder="Event Fields" required>
				</textarea>
			</div>
            <div>
				<label for="isPublic">Is the event public?</label>
				<input id="isPublic" name="isPublic" value="" rows="2"
						placeholder="Yes or No" required>
                </input>
			</div>
            <div>
				<label for="isOpen">Is the event open for registration?</label>
				<input id="isOpen" name="isOpen" value="" rows="2"
						placeholder="Yes or No" required>
                </input>
			</div>

			<div>
				<label for="image">Upload Image</label>
				<input type="file" id="image"
					name="image" value="" required>
			</div>
			<div>
				<button type="submit">Create Event</button>
			</div>
		</form>
	</div>

	<hr>

	<h1>Uploaded Images</h1>
	<div>
		<% items.forEach(function(image) { %>
		<div>
			<div>
				<img src="data:image/<%=image.img.contentType%>;base64,
					<%=image.img.data.toString('base64')%>">
				<div>
					<h5><%= image.name %></h5>
					

<p><%= image.desc %></p>


				</div>
			</div>
		</div>
		<% }) %>
	</div>

<%- include ("../_partials/_footer.ejs"); %>